<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('DWES Pokedex - Home')"></head>
<body class="d-flex flex-column h-100">

<!-- Insertar el fragmento del header -->
<header th:replace="fragments/header :: header"></header>

<!-- Contenido dinámico -->
<main class="flex-shrink-0 d-flex justify-content-center" style="margin-top: 5%;">
    <div class="container" style="max-width: 80%;">
        <div class="text-center">
            <img th:src="@{/images/Alola.png}"
                 alt="Alola"
                 class="img-fluid rounded"
                 style="border-radius: 20%; max-width: 50%; height: auto;">
        </div>
    </div>
</main>

<!-- Insertar el fragmento del footer -->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>


