<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Pokemon - Crear/Editar Región')"></head>
<body class="d-flex flex-column h-100">

<header th:replace="fragments/header :: header"></header>

<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5" th:text="${region.id} == null ? 'Crear Nueva Región' : 'Editar Región'"></h1>

        <form th:action="@{${region.id} == null ? '/regions/save' : '/regions/update'}" th:object="${region}" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre de la Región</label>
                <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Ej: Kanto" required>
            </div>

            <button type="submit" class="btn btn-primary">
                <span th:text="${region.id} == null ? 'Crear' : 'Actualizar'"></span>
            </button>
            <a th:href="@{/regions}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
