<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Pokemon - Crear/Editar Ruta')"></head>
<body class="d-flex flex-column h-100">

<header th:replace="fragments/header :: header"></header>

<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5" th:text="${route.id} == null ? 'Crear Nueva Ruta' : 'Editar Ruta'"></h1>

        <form th:action="@{${route.id} == null ? '/routes/insert' : '/routes/update'}"
              th:object="${route}" method="post">

            <!-- Campo oculto para el ID cuando se edita -->
            <input type="hidden" th:field="*{id}">

            <div class="mb-3">
                <label for="name" class="form-label">Nombre de la Ruta</label>
                <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Ej: Ruta 22" required>
            </div>
            <div class="mb-3">
                <label for="pokemons" class="form-label">Pokémon en esta ruta</label>
                <select id="pokemons" th:field="*{pokemonsIds}" class="form-control" multiple>
                <option th:each="pokemon : ${allPokemons}"
                            th:value="${pokemon.id}"
                            th:text="${pokemon.name}"
                            th:selected="${route.pokemons.contains(pokemon)}">
                    </option>
                </select>
                <small class="form-text text-muted">Mantén presionada Ctrl/Cmd para seleccionar varios Pokémon.</small>
            </div>

            <button type="submit" class="btn btn-primary">
                <span th:text="${route.id} == null ? 'Crear' : 'Actualizar'"></span>
            </button>
            <a th:href="@{/routes}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
