<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Pokemon - Regiones')"></head>
<body class="d-flex flex-column h-100">

<header th:replace="fragments/header :: header"></header>

<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Rutas de las regiones</h1>
        <p class="lead">Listado de todas las rutas disponibles en la aplicación.</p>

        <a href="/routes/new" class="btn btn-primary mb-3">Nueva Ruta</a>

        <table class="table table-striped mt-4">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="region : ${regions}">
                <td th:text="${region.id}"></td>
                <td th:text="${region.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
